
.icon-cog:before { content: '\e800'; } /* '' */
.icon-headphones:before { content: '\e801'; } /* '' */
.icon-camera:before { content: '\e802'; } /* '' */
.icon-videocam-outline:before { content: '\e803'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */